*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppine', sans-serif;
}
body{
  width: 100%;
  width: 100hv;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradiet(45deg,black blue red);
  background-color: rgb(74,64,53);
}
calculador{
  border: 2px;
  margin-top: 100px;
  height: 48px;
  padding: 20px;
  border-radius: 15px;
  background: rgb(25,7,1);
  box-shadow: 0 0 15px #08f 0 0 15px #08f;
}
input{
  width: 320px;
  border: none;
  padding:20px;
  margin: 8px;
  background: transparent;
  box-shadow: 0 0 15px rgba(84,84,1);
  border-radius: 10px;
  font-size: 24px;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  cursor:pointer;
  color:rgb(197,168,122);
}
input::placeholder{
  color:rgb(197,168,122);

}
 button{
  border: none;
  width: 50px;
  height: 50px;
  margin: 10px;
  margin-left: 18px;
  border-radius: 40%;
  background-color: transparent;
  color:rgb(197,168,122);
  font-size: 20px;
  box-shadow:0 0 15px rgba(255,255,255,0.5);
  cursor: pointer;

}
.equalBtn{
  background-color: #fb7c14;
  color:rgba(217,149,149,1);
}
.operator{
  color: #6dee0e;
}
button:hover{
  box-shadow: 0 0 15px rgba(red,green,blue,alpha);
  
}